{% extends "layout.html" %}



{% block content %}

<div class="container-fluid">

    <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">앨리트 보상 플랜</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item">Documents</li>
                            <li class="breadcrumb-item active">Reward Plan</li>
                        </ol>
                    </div>
                    <div>
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-lg-3 col-xlg-2 col-md-4">
                        <div class="stickyside">
                            <div class="list-group" id="top-menu">
                                <a href="#1" class="list-group-item active">One Goal</a>
                                <a href="#22" class="list-group-item">HOW TO START 시작하기</a>
                                <a href="#3" class="list-group-item">BONUS SYSTEM</a>
                                <a href="#4" class="list-group-item">보너스 플랜의 특징</a>
                                <a href="#5" class="list-group-item">START PACK REFERRAL</a>
                                <a href="#6" class="list-group-item">PIPELINE</a>
                                <a href="#7" class="list-group-item">TEAM POWER </a>
                                <a href="#8" class="list-group-item">RANK</a>
                                <a href="#9" class="list-group-item">GLOBAL MENTOR</a>
                                <a href="#10" class="list-group-item">TEAM POWER MATCHING</a>
                                <a href="#11" class="list-group-item">ROYALTY</a>
                                <a href="#12" class="list-group-item">AUTOSHIP STAR</a>
                                <a href="#13" class="list-group-item">보상플랜 요약</a>
                                <a href="#14" class="list-group-item">용의 정의 & 지급 기준</a>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-xlg-10 col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" id="1"><b>One Goal</b></h4>
                                <p>LOTTO MOTTO 인터내셔날은 최첨단 투자 기법을 활용한 투자 정보를 수집.분석하여 사업에 참여한 멤버가 경제적 자유를 누리도록 최고의 정보를 정기적으로 업데이트 하고 글로벌 사업 기회를 제공함으로써 멤버들과 함께 성장하여 성공을 함께 나누는 진정한 부의 공동체 실현을 목표로 설립된 기업입니다.</p>
                                <p>한사람 한사람을 소중히 여기고 사랑으로 함께 하는 한사람 중심 Network Marketing 기업이 되는 것에 목표와 가치를 두고 있습니다.</p>
                                <p>기업의 목표와 가치 실현을 위하여 다른 마케팅 기업들과 차별화된 마케팅 플랜을 가지고 있습니다. 과학적이며 혁신적인 공정한 보상플랜으로 멤버의 빠르고 안정적인 성공을 돕도록 디자인했습니다.</p>
                                <p>건강하고 아름다움 삶, 행복하고 풍요로운 나눔의 삶을 살아가도록 여러분을 돕는 Life Change 기업 LOTTO MOTTO 인터내셔날과 함께 여러분의 꿈을 실현하고 삶에 활력을 불어 넣어 보세요.</p>
                                <h4 class="card-title m-t-40" id="22"><b>HOW TO START 시작하기</b></h4>
                                <h6>ENROLL 멤버가입</h6>
                                <p>LOTTO MOTTO 인터내셔날 멤버 유형은 홈페이지를 통해 가입하는 단순 소비자(LC),LOTTO MOTTO TEAM MEMBER(LM)로 구성되어 있습니다. 홈페이지 상품 구매를 위한 소비자는 사업자격이 없는 단순회원을 의미합니다. 팀 멤버(LM)는 스타트팩을 구매하고 가입하는 것을 원칙으로 하며 멤버에게는 사업 자격이 주어지고 새로운 멤버를 소개하거나 양쪽팀을 만들고 후원하여 멤버쉽을 늘리고 오토쉽을 증대시키는 것으로 보너스를 극대화 시킬 수 있습니다. 멤버는 새로운 파트너를 소개해야 하는 의무가 없으며 제공되는 투자 정보를 통해 수익을 올리고 증가 시키는 일도 가능합니다.</p>

                                <h6>ACTIVATE 활성화</h6>
                                <p>LOTTO MOTTO 인터내셔날 팀 멤버는 개인 자격유지와 관계없이 새로운 멤버를 소개할 때마다 스타트팩 추천 보너스를 지급받을 수 있습니다. 스타트팩 보너스 외에 다른 보너스를 지급받기 위한 기본 자격유지 조건은 4주마다 35PV를 유지하는 것입니다. 사업을 보다 쉽고 빠르고 안정적으로 성장시키는 방법으로 자동 재구매 프로그램(액티브 오토쉽 팩)을 적극 활용하시면 사업 활성화와 수입을 극대화 시키는 것에 효과적입니다.자동 재구매는 4주마다 정해진 날짜에 액티브 오토쉽 팩을 구매하는 시스템을 의미하며 자신의 다운라인 팀 멤버에게 오토쉽 프로그램 복제를 통하여 안정적이고 지속적인 수입이 가능하도록 만들어주는 강력한 시스템입니다.</p>


                                <h6>QUALIFY 자격유지조건</h6>
                                <p>LOTTO MOTTO 팀 멤버는 좌/우 양쪽으로 두개의 팀을 구성할 수 있습니다. 멤버는 정해진 자격 조건을 유지함으로 승급을 하거나 추가 적인 수입을 올릴 수 있습니다. 기본 자격유지 조건은 4주마다 35PV를 유지하는 것이고 팀 파워 보너스,팀 파워 매칭 보너스,글로벌 멘토 공유 보너스, 승급 보너스 등 자격이 유지된 멤버에게 추가로 지급하는 보너스를 받기 위한 첫번째 기본조건은 좌/우 양쪽 팀에 1명 이상 의 본인이 직접 소개한 멤버가 활성화(ACTIVE) 상태를 유지하는 것입니다.</p>
                                <h4 class="card-title m-t-40" id="3"><b>BONUS SYSTEM</b></h4>
                                <h6>1.START PACK REFERRAL 스타트 팩 추천 보너스</h6>
                                <p>멤버를 추천할 경우 스타트 팩 PV의 10% 지급</p>
                                <h6>2.PIPELINE 파이프라인 보너스</h6>
                                <p>본인의 추천 조직에 새로운 브랜드 파트너가 등록할 때 상위 최대 7대 추천 스폰서 까지 스타트 팩 보너스를 받을 수 있도록 분배하여 지급하는 시스템</p>
                                <h6>3.TEAM POWER 팀 파워 보너스</h6>
                                <p>자신의 하위 두개의 팀 중에서 자격에 따라 매주 소실적 팀 매출 PV의 12% ~ 15% 지급</p>
                                <h6>4.RANK 승급 보너스</h6>
                                <p>1스타 이상으로 승급할 경우 승급시 마다 기준에 따라 승급 보너스 지급</p>
                                <h6>5.GLOBAL MENTOR 글로벌 멘토 리더쉽 공유 보너스</h6>
                                <p>2스타 이상의 직급자에게 전세계 스타트팩 매출과 재구매 매출 10%를 지급 기준에 따라 1/N 공유</p>
                                <h6>6.TEAM POWER MATCHING 팀 파워 매칭 보너스</h6>
                                <p>1스타 이상의 직급자는 자신의 추천 조직에서 직급에 따라 멤버가 받은 팀 파워 보너스의 10%를 최대 5대 까지 받을 수 있는 리더쉽 보너스</p>
                                <h6>7.ROYALTY 로얄티 보너스</h6>
                                <p>액티브 오토쉽 팩을 구매하여 35PV 개인 자격을 유지한 활성화 상태의 멤버는 자신의 다운라인 20대에 속한 모든 멤버의 액티브 오토쉽 팩 재구매 매출의 1%를 지급</p>
                                <h6>8.AUTOSHIP STAR 오토쉽 스타 보너스</h6>
                                <p>액티브 오토쉽 팩 자동 재구매를 신청한 3스타 까지 모든 멤버를 대상으로 재구매 매출 10%와 회사 수익의 일정 부분을 매주 추첨을 통하여 10명에게 정해진 비율대로 지급</p>



                                <h4 class="card-title m-t-40" id="4"><b>보너스 플랜의 특징</b></h4>
                                <h6>-빠른 수익 형성</h6>
                                <p>간단하고 쉬운 빠른 사업 진행이 가능한 바이너리 마케팅 본인이 직접 추천한 멤버에 의해서 스타트 팩 추천 보너스도 지급받고 직접 추천하지 않은 멤버에 대해서 최대 7대까지 파이프라인 보너스를 지급함으로 사업 경험의 유무와 관계없이 빠른 수익 형성 가능 파이프라인 보너스는 한줄 사업으로도 빠르게 고소득이 만들어질 수 있도록 지원하는 프로그램</p>
                                <h6>-지속적인 소득 형성</h6>
                                <p>오토쉽 스타 보너스와 로얄티 보너스가 강력한 재구매 유지력을 발휘 두줄 멤버쉽 증가로 발생하는 팀 파워 보너스는 지속적인 소득 증대를 일으키는 핵심 직급이 올라가면 승급 보너스 지급 스타트 팩 매출에서 발생하는 글로벌 멘토 수당의 지속적인 증가</p>
                                <h6>-안정적인 소득 증가</h6>
                                <p>다운 파트너 육성으로 핵심인 팀 파워 매칭 보너스가 지속적으로 증가하여 안정적인 소득 증가 효과 멤버쉽 확대로 액티브 오토쉽 팩을 통한 글로벌 멘토 보너스 증가는 지속적.안정적으로 수익 대.소실적 구분없이 추천에 관계없이 모든 다운멤버가 구매하는 재구매에 대해서 보너스를 지급하여 누구에 게나 한줄로도 수익이 발생하도록 디자인 된 혁신적인 로얄티 보너스에 의한 안정적인 소득 형성과 증가</p>
                                <h6>-초기 사업자를 위한 보너스</h6>
                                <p>스타트 팩 추천 파이프라인 오토쉽 스타</p>
                                <h6>-중간 리더를 위한 보너스</h6>
                                <p>승급 파이프라인 팀 파워 팀 파워 매칭</p>
                                <h6>-리더 사업자를 위한 보너스</h6>
                                <p>팀 파워 팀 파워 매칭 로얄티 글로벌 멘토</p>



                                <h4 class="card-title m-t-40"><b>START EARNING INCOME</b></h4>

                                <h6 id="5" >1.START PACK REFERRAL 스타트 팩 추천 보너스</h6>
                                <p>멤버를 직접 추천하는 스폰서에게 스타트 팩 PV의 10%를 지급합니다. 직접 추천할 수 있는 인원은 제한이 없으며 개인 자격 유지 상태와 관계없이 모든 LOTTO MOTTO 인터내셔날 멤버는 새로운 멤버 를 직접 추천할때 마다 10%의 스타트 팩 추천 보너스를 언제나 지급받게 됩니다</p>


                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">

                                                        <tbody>
                                                            <tr>
                                                                <td>Start Pack</td>
                                                                <td>$395</td>
                                                            </tr>
                                                            <tr>
                                                                <td>추천 보너스</td>
                                                                <td>10%</td>
                                                            </tr>
                                                            <tr>
                                                                <td>PV</td>
                                                                <td>300 PV</td>
                                                            </tr>
                                                            <tr>
                                                                <td>추천 보너스</td>
                                                                <td>$30</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <h6 id="6">2.PIPELINE 파이프라인 보너스</h6>
                                <p>파이프라인 보너스는 LOTTO MOTTO 인터내셔널의 대표적인 차별화 된 플랜으로써 한쪽 팀을 잘 구성해도 고소득을 올릴 수 있도록 디자인 된 강력한 보너스 플랜입니다. 본인의 추천 조직에서 새로운 멤버가 등록될 때 새로 등록한 멤버의 추천 업라인 7대 스폰서에게 5% ~ 0.5%를 차등 지급합니다. 직접 추천할때 받게 되는 스타트 팩 추천보너스와 달리 본인이 직접 추천하지 않은 2대 파트너에서 7대 파트너가 등록될 때도 보너스를 지급받을 수 있습니다. 액티브 오토쉽 팩을 구매한 활성화 상태의 멤버에게 지급됩니다. 활성화 상태가 아닌 멤버의추천 댓수는 압축되어 정산됨으로 보너스를 최대한 지급 받을 수 있도록 디자인 되었습니다. note : 파이프 라인 보너스는 직급과 관계없이 지급됩니다. 지급 한도가 정해져있지 않기 때문에 추천 활동이 왕성한 조직은 모든 멤버가 소득을 팀웍으로 함께 극대화 시킬 수 있습니다. 직추천 1대</p>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Start Pack</th>
                                                                <th>300 PV</th>
                                                                <th>금액</th>
                                                            </tr>
                                                            <tr>
                                                                <th>지급범위</th>
                                                                <th>7대 까지</th>
                                                                <th>제한 없음</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>추천 2대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">5%</div>
                                                                </td>
                                                                <td>$15</td>

                                                            </tr>
                                                            <tr>
                                                                <td>추천 3대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">3%</div>
                                                                </td>
                                                                <td>$9</td>

                                                            </tr>
                                                            <tr>
                                                                <td>추천 4대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">2%</div>
                                                                </td>
                                                                <td>$6</td>

                                                            </tr>
                                                            <tr>
                                                                <td>추천 5대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">1%</div>
                                                                </td>
                                                                <td>$3</td>

                                                            </tr>
                                                            <tr>
                                                                <td>추천 6대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">1%</div>
                                                                </td>
                                                                <td>$3</td>

                                                            </tr>
                                                            <tr>
                                                                <td>추천 7대</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px ;">0.5%</div>
                                                                </td>
                                                                <td>$1.5</td>

                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <h6 id="7">3. TEAM POWER</h6>
                                <p>
                                    멤버는 소득의 극대화를 위하여 자신을 중심으로 오른쪽과 왼쪽으로 두개의 팀을 구성할 수 있습 니다. 매출이 많은 쪽 팀을 대실적 팀, 매출이 적은 쪽을 소실적 팀 이라고 합니다. 팀 파워 보너스 는 소실적 팀 매출 PV의 15%,12%를 매주 직급에 따라서 차등 적용하여 지급하고 대실적 매출 PV는 활성화 상태인 멤버의 경우 다음주로 누적이월 되고 소멸되지 않습니다. 소실적 팀 매출 PV에 따라서 1주에 최대 $50,000 까지 지급받을 수 있습니다. note : 자격 유지 조건(Qualify)을 달성한 멤버에게 지급하며 소실적 300PV 부터 지급합니다. 좌:우 점수 300PV:300PV를 1싸이클 이라고 하며 자신의 현재주 실질 유지 직급에 따라서 1싸이클당 15%,12%를 지급받게 됩니다. 매주 마다 실질 유지 직급에 따라서 지급률이 결정되며 1주에 최고 $50,000 까지 지급합니다
                                </p>


                                <div class="row">
                                    <div class="col-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>직급</th>
                                                                <th>스타트팩</th>
                                                                <th>1 스타</th>
                                                                <th>2 스타</th>
                                                                <th>3 스타</th>
                                                                <th>엘리트</th>
                                                                <th>글로벌 엘리트</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>팀 파워 직급율</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">12%</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">12%</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">12%</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">12%</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">15%</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">15%</div>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                               <td>1주/극점한도</td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 80px;">$50,000</div>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p>note : 자격 유지 조건(Qualify)을 달성한 멤버에게 지급하며 소실적 300PV 부터 지급합니다. 좌:우 점수 300PV:300PV를 1싸이클 이라고 하며 자신의 현재주 실질 유지 직급에 따라서 1싸이클당 15%,12%를 지급받게 됩니다. 매주 마다 실질 유지 직급에 따라서 지급률이 결정되며 1주에 최고 $50,000 까지 지급합니다</p>


                                <br><br><br>
                                <h6 id="8">4. RANK</h6>

                                <p>1스타 이상으로 승급할 경우 승급시 마다 기준에 따라 승급 보너스를 지급합니다. 승급할때 마다 해당 금액을 지급하며 2스타 부터 보너스를 2차,3차로 나눠 분할 지급을 원칙으로 합니다.</p>

                                <div class="row">
                                    <div class="col-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 200px;">직급</th>
                                                                <th style="width: 250px">승급 보너스</th>
                                                                <th>1 지급</th>
                                                                <th>2 지급</th>
                                                                <th>3 지급</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>1 Star</th>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">$100</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> - </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> - </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> - </div>

                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <th>2 Star</th>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;">$500</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> $300 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> $200 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> - </div>

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th>3 Star</th>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 52px;">$2000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 50px;"> $1000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 50px;"> $1000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 40px;"> - </div>

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th>엘리트</th>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 52px;">$5000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 52px;"> $2000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 52px;"> $2000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 52px;"> $1000 </div>

                                                                </td>

                                                            </tr>


                                                            <tr>
                                                                <th>글로벌 엘리트</th>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 65px;">$20000</div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 65px;"> $10000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 60px;"> $5000 </div>

                                                                </td>
                                                                <td>
                                                                    <div class="progress-bar bg-danger" style="width: 60px;"> $5000 </div>

                                                                </td>

                                                            </tr>

                                                            <tr>
                                                                <th>** 직급 승급시 1회 지급</th>
                                                                <td>
                                                                    <div>$190,400</div>

                                                                </td>
                                                                <td>
                                                                    <div> 승급 후 2주후 지급 </div>

                                                                </td>
                                                                <td>
                                                                    <div> 1차 지급 후 1 개월 후 지급 </div>

                                                                </td>
                                                                <td>
                                                                    <div> 2차 지급후 1개월후 지급 </div>

                                                                </td>

                                                            </tr>



                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>











                                <h6 id="9">5. GLOBAL MENTOR</h6>

                                <p>
                                    2스타 이상의 직급자에게 전세계 스타트 팩 매출과 재구매 매출에 대하여 10%를 지급 기준에 따라 1/N로 나눠 차등 지급하는 보너스로서 리더 직급자를 대상으로 매출을 공 유하는 보너스 입니다.
                                </p>

                                <p>
                                    전세계 스타트 팩 매출과 모든 재구매 매출 PV의 10%를 리더들과 함께 공유하기 떄문 에 2스타 이상의 직급으로 승급하고 유지한다면 자신의 팀과 그룹의 재구매 매출 뿐만이 아니라 회사 전체 매출에 대하여 일정 금액을 지속적인 소득으로 얻어갈 수 있습니다.
                                </p>


                            <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>직급</th>
                                                            <th>글로벌 스타트 팩 & 재구매 매출 : 리더쉽 공유 보너스</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <th>2 스타</th>
                                                            <td>40% 공유</td>

                                                        </tr>
                                                        <tr>

                                                            <th>3 스타</th>
                                                            <td>30% 공유</td>

                                                        </tr>
                                                        <tr>

                                                            <th>엘리트</th>
                                                            <td>20% 공유</td>

                                                        </tr>
                                                        <tr>

                                                            <th>글로벌 엘리트</th>
                                                            <td>10% 공유</td>

                                                        </tr>
                                                        <tr>
                                                            <th>
                                                            </th>
                                                            <td>
                                                                직급을 유지하는 사업자에게 매주 1/N 지급
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>








                                <h6 id="10">6. TEAM POWER MATCHING</h6>


                                <p>
                                    강력한 보너스 플랜중 하나인 매칭 보너스는 팀 파워 보너스를 지급하는 기준이 되는 양쪽으로 두개의 팀만 구성할 수 있는 바이너리 팀 구성과 달리 팀 파워 매칭 보너스는 직접 추천하는 1대 멤버의 수 만큼 여러개의 팀을 제한없이 구성할 수 있습니다. ★1스타 이상의 실질 직급을 유지하는 멤버를 기준으로 매 주 지급하며 추천 조직상에 최고 5대 까지 지급받을 수 있습니다. 추천조직상에서 최대 5대안에 포함된 모든 멤버가 지급받은 팀 파워 보너스의 10%~5%를 매칭 보너스로 지급 합니다. 본인의 직급과 추천 조직의 활성화와 추천 사업자수에 따라 소득이 많아지기 때문에 스폰서 소득을 추월하거나 역전시킬 수 있습니다.
                                </p>



                                <div class="row">
                                <div class="col-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>직급</th>
                                                            <th>1 스타</th>
                                                            <th>2 스타</th>
                                                            <th>3 스타</th>
                                                            <th>엘리트</th>
                                                            <th>글로벌 엘리트</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <th>1대</th>
                                                            <td>10%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>

                                                        </tr>
                                                        <tr>

                                                            <th>2대</th>
                                                            <td></td>
                                                            <td>5%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>

                                                        </tr>

                                                        <tr>

                                                            <th>3대</th>
                                                            <td></td>
                                                            <td></td>
                                                            <td>5%</td>
                                                            <td>10%</td>
                                                            <td>10%</td>

                                                        </tr>

                                                        <tr>

                                                            <th>4대</th>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>5%</td>
                                                            <td>10%</td>

                                                        </tr>

                                                        <tr>

                                                            <th>5대</th>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>10%</td>

                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                                <div>
                                    <p>
                                        note : 1세대를 액티브 사업자 기준으로 세대 압축하여 지급함으로 미활성화 상태의 멤버는 댓수에 포함되지 않기 때문에 더욱 많은 보너스를 지급받을 수 있습니다. 매주 실질 유지 직급을 기준으로 지급하고 지급 범위는 자신의 직급 에 따라서 결정 됩니다. 지급한도가 정해져있지 않기 때문에 추천 조직을 넓고 탄탄하게 활성화 시키는 브랜드 파트너가 가장 많은 소득을 올릴 수 있습니다.
                                    </p>
                                </div>


                                <br><br><br>


                                <h6 id="11">7. ROYALTY</h6>
                                <p>
                                    4주 마다 액티브 오토쉽 팩을 구매하여 활성화 상태의 모든 멤버에게 최대 자신의 다운라인 20대에 속한 모든 멤버의 재구매 매출 PV의 1%를 지급합니다. 팀 파워 보너스는 소실적을 기준으로 지급하고 매칭 보너스는 1스타 이상 직급자에게 추천 조직 기준으로 지급하지만 로얄티 보너스는 좌/우 대.소실적 또는 직급이나 추천 조직과 관계없이 액티브한 모든 멤버에게 다운라인 재구매 매출에 대하여 지급합니다. 로얄티 보너스를 많이 지급받기 위한 조건은 재구매를 정기적으로 진행하고 다운라인 멤버들에게 보상 플랜의 장점을 알림으로 재구매를 꾸준히 늘려가고 팀웍으로 다운라인 맴버쉽을 많이 확보하는 것입니다.
                                </p>

                                <div class="row">
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 250px;">지급 범위</th>
                                                            <th>총 커미션 % / 각 댓수 마다 1%</th>
                                                            <th>좌/우 쵀대 다운 멤버 총인원, 모든 멤버가 35PV 오토쉽 구매 할 겨우</th>



                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>



                                                            <td>20 대</td>
                                                            <td>20%</td>
                                                            <td>2,097,150명</td>

                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                <br><br><br>

                                <h6 id="12">8. AUTOSHIP STAR</h6>

                                <p>
                                    오토쉽 자동 재구매를 신청한 3스타 까지 모든 멤버를 대상으로 전세계 재구매 매출 PV의 10%와 회사 수익의 일정 부분을 매주 추첨을 통하여 10명에게 정해진 비율대로 지급합니다. 엘리트 이상 리더들은 오토쉽 스타 보너스에 참여할 수 없으며 그외 액티브 오토쉽 팩을 신청하고 구매한 모든 멤버들을 대상으로 진행됩니다.
                                </p>


                                <div class="row">
                                <div class="col-10">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>

                                                            <th>매주 10명에게 지급</th>
                                                            <th>1 등</th>
                                                            <th>2 등</th>
                                                            <th>3 등</th>
                                                            <th>4 등</th>
                                                            <th>5 등</th>
                                                            <th>6 등</th>
                                                            <th>7 등</th>
                                                            <th>8 등</th>
                                                            <th>9 등</th>
                                                            <th>10 등</th>



                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <th>지급율</th>

                                                            <td> 30 %</td>
                                                            <td> 20 %</td>
                                                            <td> 15 %</td>
                                                            <td> 8 %</td>
                                                            <td> 7 %</td>
                                                            <td> 6 %</td>
                                                            <td> 5 %</td>
                                                            <td> 4 %</td>
                                                            <td> 3 %</td>
                                                            <td> 2 %</td>





                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                                <br><br><br>
                                <h6 id="13">보상플랜 요약</h6>

                                <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>

                                                            <th style="width: 150px;">직급</th>
                                                            <th>개인유지 4주</th>
                                                            <th>소실적 4주 합산</th>
                                                            <th>로열티 보너스 </th>
                                                            <th>팀 파워 보너스 지급율</th>
                                                            <th>추천조직 직급자수</th>
                                                            <th>승급 보너스 </th>
                                                            <th>팀 파워 매칭 보너스</th>
                                                            <th>글로벌 멘토 리더쉽 보너스 10%</th>
                                                            <th>로열티 보너스</th>
                                                            <th>파이프라인 보너스</th>
                                                            <th>오토쉽 스타</th>





                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>


                                                            <th>멤버</th>
                                                            <td>35 PV</td>
                                                            <td> - </td>
                                                            <td> 20대</td>
                                                            <td>12%</td>
                                                            <td> - </td>
                                                            <td> - </td>
                                                            <td> - </td>
                                                            <td> - </td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>O</td>



                                                        </tr>


                                                        <tr>

                                                            <th>1스타</th>
                                                            <td>35PV</td>
                                                            <td>3000PV</td>
                                                            <td>20대</td>
                                                            <td>12%</td>
                                                            <td> - </td>
                                                            <td>$100</td>
                                                            <td>1대 <br> 10%</td>
                                                            <td> - </td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>O</td>




                                                        </tr>


                                                        <tr>


                                                            <th>2스타</th>
                                                            <td>35PV</td>
                                                            <td>3,000PV</td>
                                                            <td>20대</td>
                                                            <td>12%</td>
                                                            <td> - </td>
                                                            <td>$100</td>
                                                            <td>1대 <br> 10% ~ 5%</td>
                                                            <td>40% 공유</td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>O</td>



                                                        </tr>


                                                        <tr>


                                                            <th>3스타</th>
                                                            <td>35PV</td>
                                                            <td>10,000PV</td>
                                                            <td>20대</td>
                                                            <td>12%</td>
                                                            <td>1스타 <br> 1명</td>
                                                            <td>$2,000</td>
                                                            <td>3대 <br> 10% ~ 5%</td>
                                                            <td>30% 공유</td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>O</td>



                                                        </tr>


                                                        <tr>


                                                            <th>엘리트</th>
                                                            <td>35PV</td>
                                                            <td>100,000PV</td>
                                                            <td>20대</td>
                                                            <td>15%</td>
                                                            <td>1스타 <br> 1명:1명</td>
                                                            <td>$5,000</td>
                                                            <td>4대 <br> 10% ~5%</td>
                                                            <td>20% 공유</td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>X</td>



                                                        </tr>


                                                        <tr>


                                                            <th>글로벌 엘리트</th>
                                                            <td>35PV</td>
                                                            <td>200,000PV</td>
                                                            <td>20대</td>
                                                            <td>15%</td>
                                                            <td>2스타 <br> 1명:1명</td>
                                                            <td>$20,000</td>
                                                            <td>5대 <br>10%</td>
                                                            <td>10% 공유</td>
                                                            <td>20대</td>
                                                            <td>7대</td>
                                                            <td>X</td>



                                                        </tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>









                                <h6 id="14">용의 정의 & 지급 기준</h6><br>

                                <ol>
                                    <li><h6>액티브(자격유지)상태 = 4주 35PV(액티브 오토쉽 팩 구매한 멤버를 액티브 멤버라고 칭함)</h6></li>
                                    <li><h6>추천 보너스는 액티브 상태와 관계없이 직접 신규 멤버를 추천하는 모든 스폰서에게 지급</h6></li>
                                    <li><h6>파이프라인 보너스는 4주 35PV 개인 자격을 유지하는 액티브 회원을 대상으로 지급</h6></li>
                                    <li><h6>기본 승급 자격 요건 충족(Qualified) = 본인이 액티브 상태이며 좌:우 1명:1명 직추천 액티브 멤버를 유지하는 상태를 의미함 5. 팀 파워,매칭 보너스,글로벌 멘토 보너스,승급 보너스는 기본 요건이 충족(Qualified)된 멤버와 직급자에게 지급</h6></li>
                                    <li><h6>팀보너스는 좌/우 직추천 1:1 완료한(Qualified) 상태의 멤버는 지급 받등 수 있음</h6></li>
                                    <li><h6>개인유지 35PV를 완료한 액티브 사업자를 대상으로 직급에 따라 12% ~ 15%를 소실적 300PV 부터 지급</h6></li>
                                    <li><h6>팀 파워 매칭보너스는 추천조직 1~5대 파트너가 수령하는 팀보너스를 본인의 직급에 따라 10%~5% 지급</h6></li>
                                    <li><h6>팀 파워 매칭보너스는 개인자격을 유지하는 액티브 사업자 기준으로 롤업 세대 압축하여 5대까지 지급</h6></li>
                                    <li><h6>모든 커미션은 회사 매출의 75%내에서 지급</h6></li>
                                    <li><h6>75%초과될경우팀파워매칭&글로벌멘토보너스&팀파워& 로얄티보너스등에서순차적으로1/N차감후지급 12.오토쉽 스타는 매출 상황에 따라 주단위에서 월단위,분기별로 변경하여 지급할 수 있음</h6></li>
                                    <li><h6>보너스 정산 기준 : 미동부 시간 기준 (월요일 0시0분 ~일요일 23시59분)으로 매주 정해진 정산 기간을 기준으로 계산됨</h6></li>
                                </ol>



                                <br><br><br>
                                <h6>용어 정의 & 지급 기준</h6><br>
                                <ul>
                                    <li>
                                        PV (POINT VOLUME) - 자격 구분, 판매 실적 적용, 회원의 직급 승급 기준 및 수당 지급 기준 적용을 위해 회사에서 정한 점수
                                    </li>
                                    <li>
                                        대실적 - 본인 실적을 기준으로 좌, 우 양쪽 팀에서 매출 PV 실적이 큰 쪽
                                    </li>
                                    <li>
                                        소실적 - 본인 실적을 기준으로 좌, 우 양쪽 팀에서 매출 PV 실적이 적은 쪽
                                    </li>
                                    <li>
                                        주정산 - 매주 정산을 통해서 모든 보너스를 주급으로 지급
                                    </li>
                                    <li>
                                        정산 기준 시간 - 미국 동부 시간 기준 월요일 00:00 부터 일요일 23:59 (매주 일요일 마감
                                    </li>
                                    <li>
                                        주극점 - 팀 파워 보너스는 1주에 받을 수 있는 최대 보너스 한도를 주극점 이라고 칭하고 주극점 이상은 지급하지 않음
                                    </li>
                                </ul>



















                            </div>
                        </div>
                    </div>
                </div>

</div>




{% endblock %}


{% block footer %}


    <!--stickey kit -->
    <script src="{{url_for('static', filename='assets/plugins/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

        <!--Custom JavaScript -->
    <script src="{{url_for('static', filename='js/custom.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/sidebar.min.js') }}"></script>


        <script>
    // This is for the sticky sidebar
    $(".stickyside").stick_in_parent({
        offset_top: 100
    });
    $('.stickyside a').click(function() {
        $('html, body').animate({
            scrollTop: $($(this).attr('href')).offset().top - 100
        }, 500);
        return false;
    });
    // This is auto select left sidebar
    // Cache selectors
    // Cache selectors
    var lastId,
        topMenu = $(".stickyside"),
        topMenuHeight = topMenu.outerHeight(),
        // All list items
        menuItems = topMenu.find("a"),
        // Anchors corresponding to menu items
        scrollItems = menuItems.map(function() {
            var item = $($(this).attr("href"));
            if (item.length) {
                return item;
            }
        });

    // Bind click handler to menu items


    // Bind to scroll
    $(window).scroll(function() {
        // Get container scroll position
        var fromTop = $(this).scrollTop() + topMenuHeight - 250;

        // Get id of current scroll item
        var cur = scrollItems.map(function() {
            if ($(this).offset().top < fromTop)
                return this;
        });
        // Get the id of the current element
        cur = cur[cur.length - 1];
        var id = cur && cur.length ? cur[0].id : "";

        if (lastId !== id) {
            lastId = id;
            // Set/remove active class
            menuItems
                .removeClass("active")
                .filter("[href='#" + id + "']").addClass("active");
        }
    });
    </script>


{% endblock %}